<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Autos</title>
    <link rel="icon" type="image/png" href="/produccion/img/icon.gif" />
    <meta name="author" content="Luis Hernández">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" itemprop="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700|Nunito:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="produccion/css/general.css">
    <link rel="stylesheet" type="text/css" href="produccion/css/main.css">
    <link rel="stylesheet" type="text/css" href="produccion/css/style.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
