    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="produccion/plugins/plugins.js"></script>
    <script src="produccion/js/myapp.js"></script>
    <script src="produccion/js/main.js"></script>