  <!--    Footer      -->
    <footer class="page-footer  footer  section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  footer__head">
            <h3 class="footer__head--title  text-center">Ubícanos en los siguientes medios</h3>
            <p class="grey-text text-lighten-4  text-center">Sabemos que un usuario bien informado es un cliente satisfecho,
              Contáctanos!
            </p>

          </div>
          <div class="col s12  footer__body">
            <div class="row">
              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><i class="fa fa-building  fa-2x" aria-hidden="true"></i></span>
                  <p class="footer--parrafo">Comas - Lima</p>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><i class="fas fa-mobile-alt"></i></span>
                  <p class="footer--parrafo"></p>
                  <p class="footer--parrafo">01 2728709</p>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  body__redes  text-center">
                  <div class="footer__body--redes" style="display: inline-block;">
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-facebook-square"></i></a></span>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-twitter-square"></i></a></span>
                    <br>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-instagram"></i></a></span>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-youtube"></i></a></span>
                  </div>

                  <div class="div">
                    Siguenos!
                  </div>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><a target="_black" href="javascript:void(0)"><i class="far fa-envelope-open"></i></a></span>
                  <p class="footer--parrafo footer--parrafo-correo  ">prueba@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container  text-center">
          Copyright © 2018
          <a class="grey-text text-lighten-4 right  hidden" href="#!">Shield Developers</a>
        </div>
      </div>
    </footer>