     <nav>
	 
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel-nav">
              <div class="nav-logo">
                <a href="index.html"><img src="../produccion/img/logo.png" alt=""></a>
                <span class="navTrigger  d-lg-none d-xl-none">
                  <i></i>
                  <i></i>
                  <i></i>
                </span>
              </div>
              <div class="nav-content  d-none">
                <div class="nav-content__contacto  d-none d-lg-block d-xl-block">
                  <ul class="list-links">
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i class="fab fa-whatsapp"></i>
                        01 2728709</a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i class="far fa-envelope-open"></i>
                        prueba@gmail.com</a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                  </ul>
                </div>
                <div class="nav-content__list box-list ">
                  <ul class="list-links">
                    <li class="list-links__item  item-links"><a href="/admin/home">Inicio</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/empresa">Empresa</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/oficina">Oficina</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/paquetes">Paquetes</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/ventas">Ventas</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/usuarios">Usuarios</a></li>
                    <li class="list-links__item  item-links"><a href="/admin/salir">(<%= username %>) Salir</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>