<!DOCTYPE html>
<html lang="es-pe">

<body>

<form action='/api/pay' method='POST'>
    <script
            src='https://checkout.stripe.com/checkout.js' class='stripe-button'
            data-key='pk_test_PqLOjFLG2KBt8qXprJbwSB75'
            data-amount='1700'
            data-name='Bargain Basement Deals'
            data-description='5 janglers'
            data-image='https://stripe.com/img/documentation/checkout/marketplace.png'
            data-locale='auto'
            data-zip-code='true'>
    </script>
</form>
    

</body>

</html>