<!DOCTYPE html>
<html lang="es-pe">
	<% include ../partials/head %>
<body>

	<% include ../partials/header %>


        <div class="slider">
            <div class="slider__content">
                <h2>
                    <span class="element"></span>
                </h2>
                <div class="boxbtn-slider">
                    <a href="contactanos"><button data-aos="flip-up" data-aos-duration="2000" class="btn-principal  btn-slider">CONTACTAR</button></a>
                    <a href="servicios"><button class="btn-secundario  btn-slider" data-aos="flip-up" data-aos-duration="2000">PAQUETES</button></a>
                </div>
            </div>
            <div class="hand animated infinite bounce delay-2s">
                <span><i class="far fa-hand-point-down"></i></span>
            </div>
        </div>



        <section class="paquetes  price-plans ">
            <div class="container">
                <div class="seccion-title">
                    <h2>
                        <div class="titH2"></div>Nuestros <span>Paquetes</span></h2>

                </div>

                <div class="row clearfix" id="lista_paquetes">

                    <!--article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                        <div class="table-inner">
                            <div class="table-header ">
                                <h3>PREMIUM</h3>
                            </div>
                            <div class="price-column price">
                                <h4 class="amount"><sup>S/</sup>250</h4>
                                <p>10 Horas de manejo(Habilidad y destreza)</p>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                    <li>Examen Médico</li>
                                    <li>Sin recojo a domicilio</li>
                                </ul>
                            </div>

                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>Ver
                                más
                            </a>
                        </div>
                    </article>



                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                        <div class="table-inner">
                            <div class="table-header ">
                                <h3>PREMIUM</h3>
                            </div>
                            <div class="price-column price">
                                <h4 class="amount"><sup>S/</sup>120</h4>
                                <p>10 Horas de manejo(Habilidad y destreza)</p>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                    <li>Examen Médico</li>
                                    <li>Sin recojo a domicilio</li>
                                </ul>
                            </div>

                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>Ver
                                más
                            </a>
                        </div>
                    </article>

                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                        <div class="table-inner">
                            <div class="table-header ">
                                <h3>PREMIUM</h3>
                            </div>
                            <div class="price-column price">
                                <h4 class="amount"><sup>S/</sup>60 </h4>
                                <p>2 Horas de manejo</p>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                    <li>Sin recojo a domicilio</li>
                                </ul>
                            </div>

                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>Ver
                                más
                            </a>
                        </div>
                    </article -->

                </div>
            </div>
        </section>

        <div class="brindamos  pd-tb50">
            <div class="container">
                <div class="div-content">
                    <div class="seccion-title">
                        <h2>Te brindamos <span>Asesoría</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Para la obtención de tu brevete Categoria A1 desde el examen médico, examen de reglamento de tránsito y exámen de manejo.
                                    Te capacitamos en manejo defensivo, full tráfico, el conocimiento de las señales de tránsito y sobre todo te vamos evaluando día a día en el conocimiento de tránsito y manejo para que a la hora de dar	tu examen te encuentres altamente capacitado.
                                    </p>

                        </div>
                        <div class="col-md-6">
                            <div class="box-video" data-aos="fade-left" data-aos-duration="1500">
                                <iframe width="100%" height="350" src="https://www.youtube.com/embed/Lu5i77J-USg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="brindamos-2  pd-tb50">
            <div class="container">
                <div class="div-content">
                    <div class="seccion-title">
                        <h2>Te explicamos cómo <span>funcionamos</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-video" data-aos="fade-right" data-aos-duration="1500">
                                <iframe width="100%" height="350" src="https://www.youtube.com/embed/Lu5i77J-USg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <p>Porque en el mundo de hoy, el tiempo es oro, Autosmart te brinda servicios personalizados
                                y a tu medida, para qué, en tus ratos libres puedas aprender a manejar desde tu domicilio,
                                oficina o donde estés!. También tenemos muchos servicios más que se adecuan a tu necesidad.</p>
                            <div class="row">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class=" tabs-home  pd-tb50  bg-gris">
            <div class="container">
                <div class="seccion-title">
                    <h2>Examen <span>Médico</span></h2>
                </div>

                <div class="tabs-home__box row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-12 tabs-home-btn">
                        <div class="boxImg-right  " data-aos="fade-right" data-aos-duration="1500">
                            <img class="" src="produccion/img/examenMedico.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 tabs-home-content clearfix">

                                <div class="boxbtn-slider  boxbtn-examenMedico">
                                    <a href="examenMedico"><button data-aos="flip-up" data-aos-duration="2000" class="btn-principal  btn-slider">Ver
                                            más
                                        </button></a>
                                </div>
                    </div>





                </div>

            </div>
        </div>

        <div class="nuestra-flota  pd-tb50">
            <div class="container">
                <div class="seccion-title">
                    <h2>Nuestra <span>Flota</span> a tu servicio</h2>
                </div>
                <div class="row">
                    <div class="owl-carousel owl-flota owl-theme">
                        <div class="item">
                            <div class="imgbox style2 ">
                                <div class="imgbox-img">
                                    <a href="javascript:void(0)">
                                        <img src="produccion/img/flota1.jpeg" alt="AutoMov">
                                    </a>
                                    <div class="overlay"></div>
                                    <div class="imgbox-content  text-center">
                                        <!-- <p class="d-none d-sm-none  d-lg-block">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Similique, voluptatibus impedit explicabo et beatae deleniti? Ducimus quod
                                            in eligendi</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="imgbox style2 ">
                                <div class="imgbox-img">
                                    <a href="javascript:void(0)"><img src="produccion/img/flota3.jpeg" alt="AutoMov"></a>
                                    <div class="overlay"></div>
                                    <div class="imgbox-content  text-center">
                                        <!-- <p class="d-none d-sm-none  d-lg-block">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Similique, voluptatibus impedit explicabo et beatae deleniti? Ducimus quod
                                            in eligendi</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="imgbox style2 ">
                                <div class="imgbox-img">
                                    <a href="javascript:void(0)"><img src="produccion/img/flota4.jpeg" alt="AutoMov"></a>
                                    <div class="overlay"></div>
                                    <div class="imgbox-content  text-center">
                                        <!-- <p class="d-none d-sm-none  d-lg-block">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Similique, voluptatibus impedit explicabo et beatae deleniti? Ducimus quod
                                            in eligendi</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="imgbox style2 ">
                                <div class="imgbox-img">
                                    <a href="javascript:void(0)"><img src="produccion/img/flota5.jpeg" alt="AutoMov"></a>
                                    <div class="overlay"></div>
                                    <div class="imgbox-content  text-center">
                                        <!-- <p class="d-none d-sm-none  d-lg-block">Lorem ipsum, dolor sit amet consectetur adipisicing
                                            elit. Similique, voluptatibus impedit explicabo et beatae deleniti? Ducimus quod
                                            in eligendi</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                                <div class="imgbox style2 ">
                                    <div class="imgbox-img">
                                        <a href="javascript:void(0)"><img src="produccion/img/flota6.jpeg" alt="AutoMov"></a>
                                        <div class="overlay"></div>
                                        <div class="imgbox-content  text-center">
                                            <!-- <p class="d-none d-sm-none  d-lg-block">Lorem ipsum, dolor sit amet consectetur adipisicing
                                                elit. Similique, voluptatibus impedit explicabo et beatae deleniti? Ducimus quod
                                                in eligendi</p> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog section -->
        <div class="blog-autos  ">
            <div class="container">
                <div class="seccion-title">
                    <h2>Noticias y <span>Actualidad</span></h2>
                </div>
                <div class="row">
                    <div class="blog-autos__item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" data-aos="fade-up" data-aos-duration="750">
                            <div class="image">
                                <img src="produccion/images/resources/l1.jpg" alt="">
                                <div class="post-time">10 Sep, 2018</div>
                            </div>
                            <div class="lower-content">
                                <h3>Trámites de Brevete</h3>Si tu dirección actual pertenece al Callao,
                                    tedrías que hacer tus trámites para la obtención del brevete en la región Callao <br>Si
                                    tu dirección pertenece a la Lima, tendrías que hacer tus trámites en el Touring Automóvil
                                    Club del Perú. <span class="fas fa-long-arrow-alt-right"></span>
                                <div class="pull-right">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-autos__item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" data-aos="fade-up" data-aos-duration="1000">
                            <div class="image">
                                <img src="produccion/images/resources/l2.jpg" alt="">
                                <div class="post-time">22 Jun, 2018</div>
                            </div>
                            <div class="lower-content">
                                <h3>Exámen de Manejo</h3>Recuerda que para el próximo año, el MTC
                                    dictaminó que adicionalmente a los examenes que se vienen dando actualmente, se adiciona
                                    el examen de manejo en la vía pública. <span class="fas fa-long-arrow-alt-right"></span>
                                <div class="pull-right">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-autos__item col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box" data-aos="fade-up" data-aos-duration="1250">
                            <div class="image">
                                <img src="produccion/images/resources/l3.jpg" alt="">
                                <div class="post-time">09 May, 2018</div>
                            </div>
                            <div class="lower-content">
                                <h3>Brevetes</h3>Pago por derecho de emisión de Licencia
                                    de Conducir: Banco de la Nación: s/24.50. <br> Pago por derecho de exámenes de Reglamento
                                    y Manejo: Banco ScotiaBank y Banbif: s/ 56.00. <br> Alquiler de Vehículo para Examen
                                    de Manejo en el Touring: s/60.00
                                    <span class="fas fa-long-arrow-alt-right"></span>
                                <div class="pull-right">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </div>

		<% include ../partials/footer %>
        <% include ../partials/javascript %>   
        <script src="produccion/js/index.js"></script>

    <script>


        /*AOS.init();
        window.addEventListener('load', AOS.refresh)

        $(document).ready(function () {
            var options = {
                strings: ["Aprende a manejar como jugando...", "y desde donde estés"],
                typeSpeed: 100,
                startDelay: 0,
                backSpeed: 10,
                backDelay: 1750,
                loop: true,
            }
            var typed = new Typed(".element", options);
        });*/
    </script>
</body>

</html>
