<!DOCTYPE html>
<html lang="es-es">

<% include ../admin/partials/header_admin %>

<body>

  <main>

	<% include ../admin/partials/menu_admin %>

    <section>


      <div id="steps6" class="container">
        <form id="formSendRegEmpresa" method="post" class="contactanos__form" action="/admin/new_empresa" >   
        <div class="row justify-content-md-center" id="new_edit" style="display:none;">
         
            <div class="col-12  col-sm-9  col-md-8  col-lg-8  col-xl-6">
              <div class="panel-content">
                
                <div class="col-12">
                  <h3 class="content--title" id="titulo">Nuevo Empresa</h3>
                </div>
                
                <div class="col-lg-12  form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" required >
                </div>

                <div class="col-lg-12  form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" placeholder="Direccion" id="direccion" name="direccion" required="">
                </div>   

                <div class="col-lg-12  form-group">
                  <label>Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono" id="telefono" name="telefono" required="">
                </div> 

                <div class="col-lg-12  form-group">
                  <label>Correo 1</label>
                  <input type="email" class="form-control" placeholder="Correo 1" id="correo1" name="correo1" required="">
                </div> 

                <div class="col-lg-12  form-group">
                  <label>Correo 2</label>
                  <input type="text" class="form-control" placeholder="Correo 2" id="correo2" name="correo2">
                </div>

                <div class="col-lg-12  form-group">
                  <label>Correo 3</label>
                  <input type="text" class="form-control" placeholder="Correo 3" id="correo3" name="correo3">
                </div> 

                <div class="col-lg-12  form-group">
                    <label for="distrito">Distrito</label>
                    <select class="custom-select" id="distrito" name="distrito" required="">
                    </select>
                </div> 

                <div class="col-lg-12  form-group">
                  <label>Cordenadas X</label>
                  <input type="text" class="form-control" placeholder="Cordenadas X" id="cordenadasx" name="cordenadasx" required="">
                </div> 

                <div class="col-lg-12  form-group">
                  <label>Cordenadas Y</label>
                  <input type="text" class="form-control" placeholder="Cordenadas Y" id="cordenadasy" name="cordenadasy" required="">
                </div>               


                <div class="col-lg-12">
                    <div class="buttons  btn-steps5" >
                         <button type="submit" class="btn-principal  btn-slider" id="save">Grabar</button>
                         <span class="button siguiente btn-principal" id="cancel">Cancelar</span>

                    </div>
                </div>

              </div>
            </div>
          
        </div>
         <input name="ideempresa" id="ideempresa" value="" type="hidden">
          <input name="type" id="type" value="" type="hidden">        
        </form>
        <div class="table-steps" id="listado_reg">
          <div class="table-steps__filtros  row">
            <div class="col-12">
               
             </div>
            <div class="ipt-search col-12 col-sm-12 col-lg-4">
                
            </div>
            
            <div class="check-filter  col-12 col-sm-6 col-lg-4">
             
            </div>

            <div class="btn-search col-12 col-sm-6 col-lg-4">
                <div class="buttons  btn-steps5" id="new_reg">
                    <span class="button siguiente btn-principal  btn-step5">Nuevo</span>
                </div>
            </div>
          </div>
          <div class="table-steps__contenido">
              <table class="table table-bordered" id="lista_reg_empresa">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th class="th-custom">Nombre</th>
                      <th class="th-custom">Dirección</th>
                      <th class="th-custom">Telefono</th>
                      <th class="th-custom">Correo 1</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>

                </table>
          </div>
        </div>
      </div>
    </section>

    <% include ../admin/partials/footer_admin %>
  </main>

  <% include ../admin/partials/script_admin %>

  <script src="../produccion/js/admin/empresa.js"></script>

</body>

</html>