<!DOCTYPE html>
<html lang="es-es">

<% include ../admin/partials/header_admin %>

<body>

  <main>

	<% include ../admin/partials/menu_admin %>


    <section>
      <div id="steps6" class="container">
        <div class="table-steps">
         
 
        </div>
      </div>
    </section>
  
    <% include ../admin/partials/footer_admin %>
  </main>

  <% include ../admin/partials/script_admin %>

  <script src="../produccion/js/admin/home.js"></script>



</body>

</html>