<!DOCTYPE html>
<html lang="es-es">

<% include ../admin/partials/header_admin %>

<body>

  <main>

	<% include ../admin/partials/menu_admin %>

    <section>


      <div id="steps6" class="container">
       
       
        
        <div class="table-steps" id="listado_reg">
          <div class="table-steps__filtros  row">
            <div class="col-12">
               <label><b>Oficina</b>: <%= nombre %></label>
             </div>
            <div class="ipt-search col-12 col-sm-12 col-lg-4">
                 <label><b>Lista de oficinas:</b></label>
                 <select id="lista_oficina">
                    <option>Seleccionar oficina</option>
                </select>
            </div>
            
            <div class="check-filter  col-12 col-sm-6 col-lg-4">
              
            </div>

            <div class="btn-search col-12 col-sm-6 col-lg-4">
                <div class="buttons  btn-steps5" id="edit_reg">
                    <span class="button siguiente btn-principal  btn-step5">Guardar</span>
                </div>
            </div>
          </div>
          <div class="table-steps__contenido">
              <form id="formSend" method="post" class="contactanos__form" action="" >
                <input name="codigo_of" id="codigo_of" value="<%= codigo_of %>" type="hidden">
                <input name="nombre" id="nombre" value="<%= nombre %>" type="hidden"> 

                <table class="table table-bordered" id="lista_reg">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th class="th-custom">Tipo</th>
                        <th class="th-custom">7:00</th>
                        <th class="th-custom">8:00</th>
                        <th class="th-custom">9:00</th>
                        <th class="th-custom">10:00</th>
                        <th class="th-custom">11:00</th>
                        <th class="th-custom">12:00</th>
                        <th class="th-custom">13:00</th>
                        <th class="th-custom">14:00</th>
                        <th class="th-custom">15:00</th>
                        <th class="th-custom">16:00</th>
                        <th class="th-custom">17:00</th>
                        <th class="th-custom">18:00</th>
                        <th class="th-custom">19:00</th>
                        <th class="th-custom">20:00</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>

                  </table>
              </form>
          </div>
        </div>
      </div>
    </section>

    <% include ../admin/partials/footer_admin %>
  </main>

  <% include ../admin/partials/script_admin %>

  <script src="../produccion/js/admin/horarios.js"></script>

</body>

</html>