<!DOCTYPE html>
<html lang="es-es">
<head>
  
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  
  <title>Admin AutosSmart</title>
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Luis Hernández">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700|Nunito:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../produccion/css/general.css">
  <link rel="stylesheet" type="text/css" href="../produccion/css/main.css">

</head>

<body>

  <main>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel-nav">
              <div class="nav-logo">
                <a href="index.html"><img src="../produccion/img/logo.png" alt=""></a>
                <span class="navTrigger  d-lg-none d-xl-none">
                  <i></i>
                  <i></i>
                  <i></i>
                </span>
              </div>
              <div class="nav-content  d-none">
                <div class="nav-content__contacto  d-none d-lg-block d-xl-block">
                  <ul class="list-links">
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i class="fab fa-whatsapp"></i>
                        01 2728709</a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i class="far fa-envelope-open"></i>
                        prueba@gmail.com</a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                    <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                  </ul>
                </div>
                <div class="nav-content__list box-list ">
                  <ul class="list-links">
                   
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>


    <section>
      <form id="formSendLogin" method="post" class="contactanos__form" action="/admin/login_a" >  
          <div id="steps6" class="container">
           
            <div class="table-steps">

              <div class="table-steps__filtros  row">
                <div class="col-12">
                    <label><strong>INICIO DE SESIÒN</strong></label>
                  </div>
         
                <div class="ipt-search col-12 col-sm-12 col-lg-4">
                    <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Usuario" required="">
                </div>

              </div>
              <br>	
             <div class="table-steps__filtros  row">

                <div class="ipt-search col-12 col-sm-12 col-lg-4">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="">
                </div>
             
             </div> 

             <br>	
             
             <div class="table-steps__filtros  row">
                <div class="btn-search col-12 col-sm-6 col-lg-4">
                    <div class="buttons  btn-steps5" >
                        <button type="submit" class="btn-principal  btn-slider">Ingresar</button>
                    </div>
                </div>
                
             </div>              
             
            </div>

          </div>
      	</form>
    </section>

    <!--    Footer      -->
    <footer class="page-footer  footer  section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  footer__head">
            <h3 class="footer__head--title  text-center">Ubícanos en los siguientes medios</h3>
            <p class="grey-text text-lighten-4  text-center">Sabemos que un usuario bien informado es un cliente satisfecho,
              Contáctanos!
            </p>

          </div>
          <div class="col s12  footer__body">
            <div class="row">
              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><i class="fa fa-building  fa-2x" aria-hidden="true"></i></span>
                  <p class="footer--parrafo">Comas - Lima</p>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><i class="fas fa-mobile-alt"></i></span>
                  <p class="footer--parrafo"></p>
                  <p class="footer--parrafo">01 2728709</p>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  body__redes  text-center">
                  <div class="footer__body--redes" style="display: inline-block;">
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-facebook-square"></i></a></span>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-twitter-square"></i></a></span>
                    <br>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-instagram"></i></a></span>
                    <span><a href="https://www.facebook.com/AUTO-SMART-170439770289961/" target="_black"><i class="fab fa-youtube"></i></a></span>
                  </div>

                  <div class="div">
                    Siguenos!
                  </div>
                </div>
              </div>

              <div class="col-12  col-md-6  col-lg-3">
                <div class="footer--item  text-center">
                  <span><a target="_black" href="javascript:void(0)"><i class="far fa-envelope-open"></i></a></span>
                  <p class="footer--parrafo footer--parrafo-correo  ">prueba@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container  text-center">
          Copyright © 2018
          <a class="grey-text text-lighten-4 right  hidden" href="#!">Shield Developers</a>
        </div>
      </div>
    </footer>

  </main>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  
  <script>
    
    $(document).ready(function () {

       $("#formSendLogin").on("submit",function  (e) {
           e.preventDefault();
           //console.log("aaaa");
           $.post("/admin/login_a",$(this).serialize(), function( data ) {
               if(data.status=="ok"){
                   $("#formSendLogin").trigger("reset");
                   document.location.href="/admin/home"
               }else{
                   alert("Ocurrio un error");
               }
               console.log(data);
           });
       })      
    

    })

  </script>

</body>

</html>