<!DOCTYPE html>
<html lang="es-es">

<% include ../admin/partials/header_admin %>

<body>

  <main>

	<% include ../admin/partials/menu_admin %>

    <section>


      <div id="steps6" class="container">
        <!--form method="post" class="contactanos__form" enctype="multipart/form-data" id="envio_r" action="/admin/new_oficinaqqqqq">
          <input type="text" name="username">
          <input type="password" name="password">
          <input type="file" name="thumbnail">
          <input type="submit">
        </form -->

        <form id="formSend" class="contactanos__form" action="/admin/new_oficina" method='post' encType="multipart/form-data">
        <div class="row justify-content-md-center" id="new_edit" style="display:none;">

            <div class="col-12  col-sm-9  col-md-8  col-lg-8  col-xl-6">
              <div class="panel-content">

                <div class="col-12">
                  <h3 class="content--title" id="titulo">Nuevo Empresa</h3>
                </div>

                <div class="col-lg-12  form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" required >
                </div>

                <div class="col-lg-12  form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" placeholder="Direccion" id="direccion" name="direccion" required="">
                </div>

                <div class="col-lg-12  form-group">
                  <label>Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono" id="telefono" name="telefono" required="">
                </div>


                <div class="col-lg-12  form-group">
                    <label for="cod_empresa">Empresa</label>
                    <select class="custom-select" id="cod_empresa" name="cod_empresa" required="">
                    </select>
                </div>

                <div class="col-lg-12  form-group">
                    <label for="distrito">Distrito</label>
                    <select class="custom-select" id="distrito" name="distrito" required="">

                    </select>
                </div>

                <div class="col-lg-12  form-group">
                  <label>Cordenadas X</label>
                  <input type="text" class="form-control" placeholder="Cordenadas X" id="cordenadasx" name="cordenadasx" required="">
                </div>

                <div class="col-lg-12  form-group">
                  <label>Cordenadas Y</label>
                  <input type="text" class="form-control" placeholder="Cordenadas Y" id="cordenadasy" name="cordenadasy" required="">
                </div>


                 <div class="col-lg-12  form-group">
                  <label>Longitud</label>
                  <input type="text" class="form-control" placeholder="Longitud" id="longitud" name="longitud" required="">
                </div>

                <div class="col-lg-12  form-group">
                  <label>Latitud</label>
                  <input type="text" class="form-control" placeholder="Latitud" id="latitud" name="latitud" required="">
                </div>


                <div class="col-lg-12  form-group">
                    <label for="tipo">Tipo</label>
                    <select class="custom-select" id="tipo" name="tipo" required="">
                        <option selected>Seleccionar...</option>
                        <option value="N">Normal</option>
                        <option value="C">Circuito</option>
                    </select>
                </div>

                <div class="col-lg-12  form-group" id="preview_img">
                  <img src="#" name="img_oficina" id="img_oficina" width="250" height="150">
                </div>

                <div class="col-lg-12  form-group">
                  <label>Cargar Imagen</label>
                  <input type="file" name="thumbnail">
                </div>



                <div class="col-lg-12">
                    <div class="buttons  btn-steps5" >
                         <button type="submit" class="btn-principal  btn-slider" id="save">Grabar</button>
                         <span class="button siguiente btn-principal" id="cancel">Cancelar</span>

                    </div>
                </div>

              </div>
            </div>

        </div>
         <input name="codigo" id="codigo" value="" type="hidden">
          <input name="type" id="type" value="" type="hidden">
          <input name="fileName" id="fileName" value="" type="hidden">

        </form>
        <div class="table-steps" id="listado_reg">
          <div class="table-steps__filtros  row">
            <div class="col-12">

             </div>
            <div class="ipt-search col-12 col-sm-12 col-lg-4">

            </div>

            <div class="check-filter  col-12 col-sm-6 col-lg-4">

            </div>

            <div class="btn-search col-12 col-sm-6 col-lg-4">
                <div class="buttons  btn-steps5" id="new_reg">
                    <span class="button siguiente btn-principal  btn-step5">Nuevo</span>
                </div>
            </div>
          </div>
          <div class="table-steps__contenido">
              <table class="table table-bordered" id="lista_reg">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th class="th-custom">Nombre</th>
                      <th class="th-custom">Dirección</th>
                      <th class="th-custom">Telefono</th>
                      <th class="th-custom">Empresa</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>

                </table>
          </div>
        </div>
      </div>
    </section>

    <% include ../admin/partials/footer_admin %>
  </main>

  <% include ../admin/partials/script_admin %>

  <script src="../produccion/js/admin/oficina.js"></script>

</body>

</html>
