<!DOCTYPE html>
<html lang="es-es">

<% include ../admin/partials/header_admin %>

<body>

  <main>

	<% include ../admin/partials/menu_admin %>

    <section>


      <div id="steps6" class="container">
        <form id="formSend" method="post" class="contactanos__form" action="" >   
        <div class="row justify-content-md-center" id="new_edit" style="display:none;">
         
            <div class="col-12  col-sm-9  col-md-8  col-lg-8  col-xl-6">
              <div class="panel-content">
                
                <div class="col-12">
                  <h3 class="content--title" id="titulo">Nuevo Producto</h3>
                </div>


                <div class="col-lg-12  form-group">
                  <label>Nombre Largo</label>
                  <input type="text" class="form-control" placeholder="Nombre Largo" id="nombre_l" name="nombre_l" required="">
                </div>                   
                
                <div class="col-lg-12  form-group">
                  <label>Nombre Corto</label>
                  <input type="text" class="form-control" placeholder="Nombre corto" id="nombre_c" name="nombre_c" required >
                </div>
   


                <div class="col-lg-12">
                    <div class="buttons  btn-steps5" >
                         <button type="submit" class="btn-principal  btn-slider" id="save">Grabar</button>
                         <span class="button siguiente btn-principal" id="cancel">Cancelar</span>

                    </div>
                </div>

              </div>
            </div>
          
        </div>

          <input name="codigo" id="codigo" value="" type="hidden">
          <input name="type" id="type" value="" type="hidden">
          <input name="codigo_pa" id="codigo_pa" value="<%= codigo_pa %>" type="hidden">        
        
        </form>
        <div class="table-steps" id="listado_reg">
          <div class="table-steps__filtros  row">
            <div class="col-12">
                <label><b>Paquete:</b><%= nombre_pa %></label>
                
             </div>
            <div class="ipt-search col-12 col-sm-12 col-lg-4">
                <label><b>Lista de paquetes:</b></label>
                <select id="lista_paquetes">
                    <option>Seleccionar paquete</option>
                </select>               
            </div>
            
            <div class="check-filter  col-12 col-sm-6 col-lg-4">
             
            </div>

            <div class="btn-search col-12 col-sm-6 col-lg-4">
                <div class="buttons  btn-steps5" id="new_reg">
                    <span class="button siguiente btn-principal  btn-step5">Nuevo</span>
                </div>
            </div>
          </div>
          <div class="table-steps__contenido">
              <table class="table table-bordered" id="lista_reg">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th class="th-custom">Nombre Corto</th>
                      <th class="th-custom">Nombre Largo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>

                </table>
          </div>
        </div>
      </div>
    </section>

    <% include ../admin/partials/footer_admin %>
  </main>

  <% include ../admin/partials/script_admin %>

  <script src="../produccion/js/admin/productos.js"></script>

</body>

</html>